.typing-text {
  font-size: 1rem;
  font-weight: normal;
  white-space: pre-wrap;
  border-right: 2px solid #000;
  animation: blink 0.7s infinite;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 2rem;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 400px;
  min-height: 100px;
  box-sizing: border-box;
  overflow-wrap: break-word;
}
